    <aside>
        <h1>Modhelper</h1>
        <p>Collection of scripts to act as the backbone for SMF mods</p>

        <p class="view"><a href="https://github.com/live627/ModHelper">View the Project on GitHub <small>live627/ModHelper</small></a></p>


        <ul>
          <li><a href="https://github.com/live627/ModHelper/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/live627/ModHelper/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/live627/ModHelper">View On <strong>GitHub</strong></a></li>
        </ul></aside>
 </div>
 <footer>footer</footer>
  </body>
</html>
